<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="ui/ui-bootstrap-custom-0.13.3.min.js"></script>
	<script src="ui/ui-bootstrap-custom-tpls-0.13.3.min.js"></script>

	<script src="controller/fsController.js"></script>
	
	<script src="ui/autofocus.js"></script>
	<link rel="stylesheet" href="ui/style.css">
	</head>
	<body ng-app='FilteringSelect' ng-controller='fsController as ctrl'>
		<div class="col-sm-5">
			<div class="bootstrap-select input-group">
				<input type="text" autocomplete="off" name="my_select_label" class="form-control" ng-model="filterText" ng-keyup="act=true" ng-blur="act=false">
				<input type="hidden" name="my_select" value="">
				<div class="input-group-btn" ng-class="{open: act}">
					<button tabindex="-1" type="button" class="btn btn-default dropdown-toggle" ng-class="{active: act}" ng-click="act = !act">
						<span class="caret"></span>
					</button>
					<ul tabindex="-1" class="pull-right dropdown-menu" ng-blur="act = false" ng-mouseenter="ctrl.focus($event)">
						<li ng-repeat="item in listItems | filter:filterText" ><a ng-click="ctrl.itemSelected(this, $event)">{{item.name}}</a></li>
					</ul>
				</div>
				</div>
				<!--<div collapse="isCollapsed">
					<div class="well well-sm">-->
					<ul class="list-group">
					<li class="list-group-item" ng-repeat="selectedItem in selectedItems">
						{{selectedItem.name}}
						<button type="button" class="btn btn-danger btn-circle" style="margin-left:5px;" ng-click="ctrl.removeItem()">
							<i class="glyphicon glyphicon-remove"></i>
						</button>
					</li>
					</ul>
					<!--</div>
				</div>-->
			</div>
	</body>
</html>